.transform(@transform) {
	-webkit-transform: @transform;
		 -moz-transform: @transform;
		 	 -o-transform: @transform;
			 		transform: @transform;
}

// Hack to allow multiple arguments
.transition(...) {
	@props: ~`"@{arguments}".replace(/[\[\]]/g, "")`;
	-webkit-transition: @props;
		 -moz-transition: @props;
		 	 -o-transition: @props;
			 		transition: @props;
}

.transition-timing(@timing) {
	-webkit-transition-timing-function: @timing;
 		 -moz-transition-timing-function: @timing;
			 -o-transition-timing-function: @timing;
					transition-timing-function: @timing;
}

.sticky() {
	position: -webkit-sticky;
	position: sticky;
}
